<!-- views/add.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title>Trang chủ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <!-- Sử dụng Feather Icons (tùy chọn) -->
  <link rel="stylesheet" href="https://unpkg.com/feather-icons@4.28.0/dist/feather.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">HỆ THỐNG QUẢN LÝ KHÁCH SẠN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Về chúng tôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Add Room</h1>
  <form action="/add" method="post">
    Room Number: <input type="number" name="room_number" required /><br />
    Room Type: <input type="number" name="room_type" required /><br />
    Room status: <input type="status" name="room_status" required /><br />
    Price: <input type="number" name="price" required /><br />
    <button type="submit">Add Room</button>
  </form>
  <a href="/">Back to List</a>
</body>

</html>