<!-- views/footer.ejs -->
<footer class="footer mt-auto py-3 bg-light mt-5">
    <div class="container text-center">
      <span class="text-muted">Hotel systemmanage &copy; 2023</span>
    </div>
</footer>
  