<!-- views/home.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title>Trang chủ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <!-- Sử dụng Feather Icons (tùy chọn) -->
  <link rel="stylesheet" href="https://unpkg.com/feather-icons@4.28.0/dist/feather.css" />
</head>
<style>
  .centered-rectangle {
    margin-top: auto;
    width: 100%;
    height: 100px;
    background-color: #007bff;
    /* Màu xanh */
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }

    .sidebar a {
      font-size: 18px;
    }
  }
</style>

<body>
  <!-- <div class="container">
        <h1>Chào mừng đến với trang chủ</h1>
        <a href="/logout">Logout</a>
    </div> -->
  <!-- views/partials/navbar.ejs -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">HỆ THỐNG QUẢN LÝ KHÁCH SẠN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Về chúng tôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="centered-rectangle"></div>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="">Quản lý khách hàng</a>
    <a href="/index">Quản lý phòng ở</a>
    <a href="#">Quản lý đặt/hủy phòng</a>
    <a href="#">Quản lý nhân viên</a>
  </div>

  <div id="main">
    <button class="openbtn" onclick="openNav()">☰</button>
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Phòng khả dụng</h5>
          <p class="card-text">
            <%= availableRoomsCount %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Phòng không khả dụng</h5>
          <p class="card-text">
            <%= unavailableRoomsCount %>
          </p>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>